{% extends "users/base_dashboard.html" %}

{% block section %}

<section class="container mt-5" style="max-width: 90%;">
    <div class="card text-center">
        <div class="card-body">
            <h5 class="card-title">Upcoming Quizzes</h5>
            <table class="table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Subject Name</th>
                        <th>Chapter Name</th>
                        <th>No.of.Questions</th>
                        <th>Date</th>
                        <th>Duration(HH:MM)</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for quiz in coming_quizzes%}
                    <tr>
                        <td>{{ loop.index }}</td>
                        <td>{{ quiz.chapter.subject.sname }}</td>
                        <td>{{ quiz.chapter.cname }}</td>
                        <td>{{ quiz.question | length }}</td>
                        <td>{{ quiz.dateofquiz.strftime('%Y-%m-%d') }}</td>
                        
                        {# https://stackoverflow.com/a/4181605 #}
                        {% set hour = quiz.timeduration // 3600 %}
                        {% set minute = quiz.timeduration % 3600 // 60 %}

                        {# https://stackoverflow.com/a/58233733 #}
                        {# https://stackoverflow.com/a/32087396 #}
                        <td>{{ "%02d:%02d" % (hour, minute) }}</td>
                        <td>
                            <a href="{{url_for('quiz_details', qid = quiz.quizid) }}" class="btn btn-outline-primary btn-sm">View Details</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <div class="card text-center mt-5">
        <div class="card-body">
            <h5 class="card-title">Expired Quizzes</h5>
            <table class="table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Subject Name</th>
                        <th>Chapter Name</th>
                        <th>No.of.Questions</th>
                        <th>Date</th>
                        <th>Duration(HH:MM)</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for quiz in expired_quizzes%}
                    <tr>
                        <td>{{ loop.index }}</td>
                        <td>{{ quiz.chapter.subject.sname }}</td>
                        <td>{{ quiz.chapter.cname }}</td>
                        <td>{{ quiz.question | length }}</td>
                        <td>{{ quiz.dateofquiz.strftime('%Y-%m-%d') }}</td>
                        
                        {# https://stackoverflow.com/a/4181605 #}
                        {% set hour = quiz.timeduration // 3600 %}
                        {% set minute = quiz.timeduration % 3600 // 60 %}

                        {# https://stackoverflow.com/a/58233733 #}
                        {# https://stackoverflow.com/a/32087396 #}
                        <td>{{ "%02d:%02d" % (hour, minute) }}</td>
                        <td>
                            <a href="{{url_for('quiz_details', qid = quiz.quizid) }}" class="btn btn-outline-primary btn-sm">View Details</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</section>

{% endblock %}