{% extends "users/base_dashboard.html" %}

{% block section %}

<section class="container mt-5" style="max-width: 90%;">
    <div class="card text-center">
        <div class="card-body">
            <h5 class="card-title">Upcoming Quizzes</h5>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">No.of.Questions</th>
                        <th scope="col">Date</th>
                        <th scope="col">Duration(HH:MM)</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>1</th>
                        <td>05</td>
                        <td>dd/mm/yyy</td>
                        <td>00:10</td>
                        <td>
                            <a href="#" class="btn btn-outline-primary btn-sm">View</a>
                            <a href="#" class="btn btn-outline-success btn-sm">Start</a>
                        </td>
                    </tr>
                    <tr>
                        <th>2</th>
                        <td>10</td>
                        <td>dd/mm/yyy</td>
                        <td>00:10</td>
                        <td>
                            <a href="#" class="btn btn-outline-primary btn-sm">View</a>
                            <a href="#" class="btn btn-outline-success btn-sm">Start</a>
                        </td>
                    </tr>
                    <tr>
                        <th>3</th>
                        <td>15</td>
                        <td>dd/mm/yyy</td>
                        <td>00:20</td>
                        <td>
                            <a href="#" class="btn btn-outline-primary btn-sm">View</a>
                            <a href="#" class="btn btn-outline-success btn-sm">Start</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>

{% endblock %}]]]