{% extends "admin/base_dashboard.html" %}
{% block section %}

<div class="container card mt-5" style="max-width: 70%;">
    <form id="add-new" method="POST">
        <div class="card-body mt-2" style="color: #2273cf;">
            <div class="card-title text-center mb-3">
                <h5 style="color: orange;">Chapter Details</h5>
            </div>
            <div class="row mb-3">
                <label for="sname" class="col-sm-3 col-form-label text-end">Subject Name</label>
                <div class="col-sm-8">
                    <input class="form-control" id="sname" name="sname" value="{{ chapter.subject.sname }}" disabled>
                </div>
            </div>
            <div class="row mb-3">
                <label for="cname" class="col-sm-3 col-form-label text-end">Chapter Name</label>
                <div class="col-sm-8">
                    <input class="form-control" id="cname" name="cname" value="{{ chapter.cname }}" disabled>
                </div>
            </div>
            <div class="row mb-3">
                <label for="description" class="col-sm-3 col-form-label text-end">Description</label>
                <div class="col-sm-8">
                    <input class="form-control" id="description" name="description" value="{{ chapter.description }}"
                        disabled>
                </div>
            </div>
            <div class="row text-center mt-5" style="color: red;">
                <h6>Quizzes from {{ chapter.cname }}</h6>
            </div>
            <table class="table text-center mt-4">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Quiz ID</th>
                        <th>Quiz Name</th>
                        <th>Date of Quiz</th>
                        <th>No. of Questions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for quiz in chapter.quizzes%}
                    <tr>
                        <td>{{ loop.index }}</td>
                        <td>{{ quiz.quizid }}</td>
                        <td><a href="{{ url_for('view_quiz', qid = quiz.quizid) }}" class="text-decoration-none">
                                {{ quiz.qname }}
                            </a>
                        </td>
                        <td>{{ quiz.dateofquiz.strftime('%Y-%m-%d') }}</td>
                        <td>{{ quiz.question | length }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </form>
    <div class="d-flex justify-content-around mt-2 mb-3">
        <a href="{{ url_for('admin_dashboard') }}" class="btn btn-success me-3">OK</a>
        <a href="{{ url_for('edit_chapter', cid = chapter.cid) }}" class="btn btn-warning">Edit</a>
        <form action="{{ url_for('delete_chapter', cid = chapter.cid)}}" class="d-inline" method="POST">
            <button type="submit" class="btn btn-danger"
                onclick="return confirm('Are you sure, to delete this Chapter?')">Delete</button>
        </form>
    </div>
</div>

{% endblock %}